:root {
  /* fonts */
  --poppins: 'Poppins', serif;
  --merriweather: 'Merriweather', serif;

  /* colors */
  --button-heading-color: #111827;
  --placeholrd-color: #b3b8d8;
  --main-card-color: #ffffff;
  --subheading-color: #374151;
  --body-background-color: #e6e9fb;
  --input-background-color: #fafaff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* desktop desing 1440px */
body {
  background-color: var(--body-background-color);
  display: grid;
  place-content: center;
  margin: 18.5rem 10.8125rem;
}

.card {
  background-color: var(--main-card-color);
  width: 100%;
  box-shadow: 10px 10px rgba(255, 255, 255, 0.52);
  border-radius: 1rem;
}
